<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="app.js" type="module"></script>
</head>
<body>


    <div id="app">  
      <form>
        <input type="text" v-model="dato">
        <button @click.prevent="enviar"> Enviar</button>
      </form>
    
      <div v-for="e in lista">{{e}}</div>
    </div>
    


</body>
</html>